USE [master]
GO
/****** Object:  Database [ClientDB]    Script Date: 1/14/2024 10:35:30 PM ******/
CREATE DATABASE [ClientDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClientDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClientDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClientDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClientDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClientDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClientDB]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 1/14/2024 10:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateofBirth] [datetime] NULL,
	[MaritalStatus] [int] NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookUp]    Script Date: 1/14/2024 10:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_LookUp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([ID], [FirstName], [LastName], [DateofBirth], [MaritalStatus], [MobileNumber], [Email], [Image]) VALUES (1, N'zeinab', N'mostafa', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 1, N'01012345678', N'z@gmail.com', N'ee')
INSERT [dbo].[Client] ([ID], [FirstName], [LastName], [DateofBirth], [MaritalStatus], [MobileNumber], [Email], [Image]) VALUES (2, N'test1', N't1', CAST(N'2017-01-02T00:00:00.000' AS DateTime), 2, N'01012345678', N't@gmail.com', N't')
INSERT [dbo].[Client] ([ID], [FirstName], [LastName], [DateofBirth], [MaritalStatus], [MobileNumber], [Email], [Image]) VALUES (3, N'test2', N't2', CAST(N'2016-01-03T00:00:00.000' AS DateTime), 3, N'01012345678', N's@gmail.com', N'jj')
GO
SET IDENTITY_INSERT [dbo].[LookUp] ON 

INSERT [dbo].[LookUp] ([Id], [Status]) VALUES (1, N'Married')
INSERT [dbo].[LookUp] ([Id], [Status]) VALUES (2, N'Single')
INSERT [dbo].[LookUp] ([Id], [Status]) VALUES (3, N'Divorced')
SET IDENTITY_INSERT [dbo].[LookUp] OFF
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [ClientLook_FK] FOREIGN KEY([MaritalStatus])
REFERENCES [dbo].[LookUp] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [ClientLook_FK]
GO
/****** Object:  StoredProcedure [dbo].[GetAllClients]    Script Date: 1/14/2024 10:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllClients] @ValueSearch nvarchar(50)
AS
SELECT * FROM Client 
WHERE FirstName like '%'+@ValueSearch+'%' or Email like '%'+@ValueSearch+'%' or MobileNumber like '%'+@ValueSearch+'%'



GO
USE [master]
GO
